/* .choices {
    display: flex;
    justify-content: space-evenly;
}

.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.customOrders {
    padding: 1rem 2rem;
    font-size: 1.1rem;
} */

#choices {
    display: flex;
    justify-content: space-around;
}

.Entree {
    width: 33%;   
    background-color: tan;
    display: flex-wrap;
    justify-content: center;
}

.entreeTitle {
    display: flex;
    justify-content: center;
}

.entrees {
    display: flex;
    justify-content: center;
}


.Sides {
    width: 33%;   
    background-color: tan;
}

.sideTitle {
    display: flex;
    justify-content: center;
}

.sides {
    display: flex;
    justify-content: center;
}

.Vegetables {
    width: 33%;
    background-color: tan;
}

.veggieTitle {
    display: flex;
    justify-content: center;
}

.veggies {
    display: flex;
    justify-content: center;
}

